/* КНОПКА ПОЧИНКИ (ДЕБАГ) */
.debug-btn {
    width: 100%;
    background: #ff9800; /* Оранжево-желтый цвет ремонта */
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background 0.2s;
    margin-bottom: 15px; /* Отступ от кнопки выхода */
}

.debug-btn:active { 
    background: #e68a00; 
}
